<%- include("header") -%>

<div class="container">
    <h1>Project Description:</h1>
    <!-- What -->
    <h2>What?</h2>
    <p>This is a responsive To-Do List web application, that allows the user to add and delete items to a default
        "Today"
        list or create new custom To-Do lists with the same add and delete functionality.
    </p>
    <!-- Why -->
    <h2>Why?</h2>
    <p>Building this project has allowed me to practice full-stack development principles that I have been learning and
        put
        them to practical use with a functional project. Developing this project has allowed me to learn more about
        Node.JS
        and its Express server module such as dynamic routing parameters. It also has allowed me to solidify my
        knowledge of
        using Mongoose for MongoDB.
    </p>
    <!-- How -->
    <h2>How?</h2>
    <p>To quick start this project, I used an already developed EJS template for the main to-do list front-end, which
        was provided by The App Brewery in their full-stack development course. From their I went ahead and
        developed the main functionality on the back-end to allow users to add and delete new items as well as create
        new
        lists from the navigation bar. Once the main functionality was finished I went ahead and brought in bootstrap to
        make the app responsive and changed the styling to my liking.
    </p>
    <h4>Technologies:</h4>
    <ul>
        <li>Front-End
            <ul>
                <li>HTML</li>
                <li>Bootstrap</li>
                <li>CSS</li>
            </ul>
        </li>
        <li>Back-End
            <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>EJS</li>
            </ul>
        </li>
        <li>Database
            <ul>
                <li>MongoDB</li>
                <li>Mongoose</li>
            </ul>
        </li>
    </ul>
</div>

<%- include("footer") -%>